body {
	font-family: 'Poppins', sans-serif;
	background-color: #F5F5F5;
	color:black;
	font-weight: 300;
}

a {
	color: #276EF1;
}

.music-description {
	color: #F5F5F5;
	max-width: 75%;
}

.footer {
	border-top: darkgray solid 1px;
	/* min-height: 100px; */
	color: gray;

	/* Make footer stick to bottom of content */
	/* position: absolute;
	bottom: 0;
	width: 100%;
	height: 6rem; */
}

.footer a {
	color: gray;
	text-decoration: none;
}

.form-row {
	width: 100%;
	display: flex;
}

.icon {
	width: 35px;
	height: 35px;
}

.icon:hover {
	cursor: pointer;
}

.profile-image {
	border-radius: 50%;
	max-height: 300px;
	width: auto;
}

.calendly-badge-content {
	font-family: 'Poppins', sans-serif !important;
}
/* 
.col {
	width: 30%;
} */