body {
	font-family: 'Poppins', sans-serif;
	background-color: #F5F5F5;
	color:black;
	font-weight: 300;
}

a {
	color: #276EF1;
}

button {
	/* height: 40px;
	border-radius: 0px;
	border-width: 1px;
	border-color: #000000;
	border-style: solid;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 300;
	padding: 0px 10px;
	margin: 10px 0px;
	cursor: pointer;
	transition: background 0.5s ease-in-out; */
}

label {
	/* width: 85px;
	margin: auto 0px; */
}

input{
	/* height: 35px;
	border-radius: 7px;
	border-width: 2px;
	border-color: gray;
	border-style: solid;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	padding: 0px 10px;
	margin: 10px 2px;
	width: 75%; */
}

/* input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, button:focus {
	outline: none;
}  */
/* 
button:hover {
	background-color: black;
	color: white;
	transition: background 0.5s ease-in-out;
} */

/*input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
	transition: background 0.5s ease-in-out;
	background-color: black;
	border-color: green;
	color: white;
}*/

.navbar {
	/* width: 20%;
	height: 100vh;
	text-align: center;
	/* background-color: #6F2232; */
	background-color: #6D94B3;
	/* position: fixed;  */
}

.footer {
	border-top: darkgray solid 1px;
	/* min-height: 100px; */
	color: gray;

	/* Make footer stick to bottom of content */
	/* position: absolute;
	bottom: 0;
	width: 100%;
	height: 6rem; */
}

.footer .end-of-the-road {
	/* background-color: rgb(216, 212, 212);
	padding-left: 2%; */
}

.footer a {
	color: gray;
	text-decoration: none;
}

.form-row {
	width: 100%;
	display: flex;
}

.icon {
	width: 35px;
	height: 35px;
}

.icon:hover {
	cursor: pointer;
}

.nav-link {
	color: white;
}

.nav-link:hover {
	cursor: pointer;
}

.profile-image {
	border-radius: 50%;
	max-height: 300px;
	width: auto;
}

.selected-nav-item {
	font-weight: bold;
}

.calendly-badge-content {
	font-family: 'Poppins', sans-serif !important;
}

.card {
	max-width: 20rem;
}